/*  ----- NAVBAR -----  */
.bg-custom-color {
    background-color: #2c3d4f;
}
.navbar-collapse {
    flex-grow: 0;
}
.navbar-brand, .nav-item {
    font-weight: bold;
}
.navbar-dark .navbar-toggler {
    border: 2px rgba(255,255,255,.55) solid;
}
.navbar-toggler {
    padding: 2px 10px;
}

/*  -------------------  */

/*  ------ STAR -------  */
.star {
    display: flex;
    justify-content: center;
    align-items: center;
}
.star i {
    font-size: 20px;
    margin: 0 10px;
}
.line, .line-2 {
    height: 3px;
    width: 150px;
    border-radius: 2px;
}
.line-2 {
    background-color: #2c3d4f;
}
.line {
    background-color: white;
}
/*  -------------------  */

* {
    font-family: 'Montserrat', serif;
}

.container-box {
    background-color: #19bc9b;
    color: white;
}

header {
    text-align: center;
    margin-top: 56px;
}

#avatar {
    width: 200px;
}

h1, h5 {
    margin: 20px 0;
    text-align: center;
}

h1 {
    font-weight: bold;
}

.img.container, .container-box {
    padding-top: 30px;
    padding-bottom: 30px;
}

.icon {
    border-radius: 8%;
    overflow: hidden;
    margin-bottom: 24px;
}

img {
    width: 100%;
}

.text {
    margin-bottom: 30px;
}

#download {
    width: 180px;
}

#download i {
    margin-right: 5px;
}

.centered {
    text-align: center;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    padding-top: 5px;
}

.contact-form ::placeholder {
    color: black;
    opacity: 1;
}

.btn-custom-color {
    background-color: #19bc9b;
    color: white;
    margin-top: 10px;
}

.btn-custom-color:hover {
    color: white;
    transform: scale(1.2);
}

/* ----- FOOTER ------ */

footer {
    background-color: #2c3d4f;
    color: white;
    width: 100%;
    padding-top: 50px;
}

.container-box3 {
    padding-bottom: 50px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

footer li {
    border: 1px solid white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
}

.item-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text a {
    text-decoration: none;
    color:#1abc9c;
}

.text {
    text-align: center;
}

.container-box2 {
    background-color: #1e2a36;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}








