/*  ----- NAVBAR -----  */
.bg-custom-color {
    background-color: #2c3d4f;
}
.navbar-collapse {
    flex-grow: 0;
}
.navbar-brand, .nav-item {
    font-weight: bold;
}
.navbar-dark .navbar-toggler {
    border: 2px rgba(255,255,255,.55) solid;
}
.navbar-toggler {
    padding: 2px 10px;
}

/*  ----- END NAVBAR ----  */
* {
    font-family: 'Montserrat', serif;
}

.container-box {
    background-color: #19bc9b;
    color: white;
}

header {
    text-align: center;
    margin-top: 56px;
}

#avatar {
    width: 200px;
}

h1, h5 {
    margin: 20px 0;
    text-align: center;
}

h1 {
    font-weight: bold;
}

/* ----- STELLA -----*/


/* ------------------- */

.img.container, .container-box {
    padding-top: 30px;
    padding-bottom: 30px;
}

.icon {
    border-radius: 8%;
    overflow: hidden;
    margin-bottom: 24px;
}

img {
    width: 100%;
}

.text {
    margin-bottom: 30px;
}

#download {
    width: 150px;
}

.centered {
    text-align: center;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    padding-top: 5px;
}

.contact-form ::placeholder {
    color: black;
    opacity: 1;
}

.btn-custom-color {
    background-color: #19bc9b;
    color: white;
    margin-top: 10px;
}

.btn-custom-color:hover {
    color: white;
    transform: scale(1.2);
}






