/*  ----- NAVBAR -----  */
.bg-custom-color {
    background-color: #2c3d4f;
}
.navbar-collapse {
    flex-grow: 0;
}
.navbar-brand, .nav-item {
    font-weight: bold;
}
.navbar-dark .navbar-toggler {
    border: 2px rgba(255,255,255,.55) solid;
}
.navbar-toggler {
    padding: 2px 10px;
}

/*  ----- END NAVBAR ----  */

.container-box {
    background-color: #19bc9b;
}

header {
    text-align: center;
    margin-top: 56px;
    color: white;
    padding: 20px;
}

#avatar {
    width: 200px;
}

h1, h5 {
    margin: 10px 0;
}

header h1 {
    font-weight: bold;
}

.img.container {
    padding-top: 20px;
}
.img.container h1 {
    text-align: center;
}

.icon {
    border-radius: 8%;
    overflow: hidden;
    margin-bottom: 24px;
}

img {
    width: 100%;
}

.text {
    border: 1px solid black;
}

.info > div {
    border-bottom: 1px solid black;
}